<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
{% if statement %}
    <div>{{ statement }}</div>
{% else %}
    <div>Look here's some text</div>
{% endif %}

<form method="post" action="{{ url_for('go') }}">
    <input type="text" name="answer" id="answer" />
    <input type="hidden" name="qid" id="qid" value="{{qid}}"/>
    <input type="submit" />
</form>

<br /><br />

Want to add new questions? Click <a href="{{ url_for('questions') }}">here</a>.

</body>
</html>